<div class="text-center auth">
  <div class="form-signin">
    <h2>Log in</h2>

    <input class="form-control"
           placeholder="Username"
           required autofocus
           [(ngModel)]="data.username">

    <input type="password"
           class="form-control"
           placeholder="Password"
           required
           [(ngModel)]="data.password">
    <div class="buttons-login">
    <button
      class="btn btn-lg btn-primary btn-block"
      (click)="login()">
      Log in
    </button>

    <button
      class="btn btn-lg btn-outline-primary btn-block"
      (click)="register()">
      Register
    </button>
    </div>
  </div>
  <p-toast></p-toast>
</div>
