.container {
  /*background-color: #cce4f7;*/
  text-align: left;
  /*color: #30383c;*/
  box-sizing: border-box;
  line-height: 100%;
  padding: 0px 30px;
  margin-bottom: 500px;
}

.p-grid {
  column-gap: 40px;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
}

.overview {
  margin-top: 5em;
}

.short-info {
  /*background-color: #2B59FF;*/
  text-align: left;
}

.headline {
  display: flex;

}

.headline-col {
  position: absolute;
  right: 0;
  margin-right: 200px;
}

.moreInfo {
}

textarea {
  width: 100%;
  max-width: 100%;
}

.video {
  aspect-ratio: 3/2;
}

.p-rating-icon {
  background: black;
}

.rc-tree-invisible {
  display: none;
}

.rc-tree ul,
.rc-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.rc-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
  background: black;
}

.rc-tree .mat-tree div[role=tree] {
  background: black;
}

.mat-tree-node {
  background: black;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.rc-tree div[role=group] > .mat-tree-node {
  /*padding-left: 40px;*/
  background: black;

}

.rc-content {
  background: none;

}
.rc {
  color: white;
}

p-rating {
  color: #2dd868;
}
mat-card {
  width: 100%;
  border-left: #2dd868 2px;
  /*border-right: solid green 2px;*/
  border-bottom: none !important;
  /*border-top: solid green 2px;*/
  margin-bottom: 5px;
  border-radius: 0px;
  box-shadow: none !important;
  color: white;
}

mat-card-title {
  height: 40px;
}

mat-card-actions {
  color: #616161;
}

card , .rc, mat-card-title, mat-card-actions{
  background: #373737;
  color: white;
}

mat-card-subtitle {
  color: #bbbbbb;
}

.comment-input {
  padding-left: 33px;
}

h4 {
  margin-top:10%;
  margin-bottom: 0
}

.othersreviews.card {
  max-width: 90%;
  object-fit: cover;
  max-height: 90%;
  contain: layout;
  margin: 5pt;
  background: #373737;
}

.othersreviews.p-carousel-item {
  /*background: black;*/
  background: #373737;
}


.othersreviews.card-header {
  font-size: 1.2rem;
  /*line-height: 100%;*/
  height: 100px;
}

.othersreviews .card-body {
  max-width: 100%;
  font-size: 0.8pt;
  color: #e5e5e5;
}

.othersreviews .card-footer {
  padding-top: 0;
  padding-bottom: 1.5rem;
  height: 2rem;
  background: #373737;
}

.othersreviewsCard {
  /*margin: 10px;*/
  max-width: 90%;
  object-fit: cover;
  max-height: 90%;
  contain: layout;
  margin: 5pt;
  color: white;
  background: #373737;
}
