<p-toast></p-toast>

<div class="text-center auth">
  <div class="form-signin">
    <h2>Profile settings</h2>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center; ">
      <label for="un">Username: </label>
      <input type="text"
             id="un"
             class="form-control"
             placeholder={{data.username}}
             required autofocus
             #username="ngModel"
             [class.is-invalid]="username.invalid && username.touched"
             [(ngModel)]="data.username">
    </div>

    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center; ">
      <label for="fn">Firstname: </label>
      <input type="text"
             id="fn"
             class="form-control"
             placeholder="Firstname"
             pKeyFilter="alpha"
             required
             #firstname="ngModel"
             [class.is-invalid]="firstname.invalid && firstname.touched"
             [(ngModel)]="data.firstname">
    </div>

    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center; ">
      <label for="ln">Lastname: </label>
      <input type="text"
             id="ln"
             class="form-control"
             placeholder="Lastname"
             pKeyFilter="alpha"
             required
             #lastname="ngModel"
             [class.is-invalid]="lastname.invalid && lastname.touched"
             [(ngModel)]="data.lastname">
    </div>

    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center; ">
      <label for="en">Email: </label>
      <input type="email"
             id="en"
             class="form-control"
             placeholder="Email"
             #email="ngModel"
             [class.is-invalid]="email.invalid && email.touched"
             [(ngModel)]="data.email"
             required>
    </div>

    <button
      class="btn btn-lg btn-primary btn-block"
      (click)="save_changes()">
      Save changes
    </button>

    <button
            class="btn btn-lg btn-primary btn-block"
            style="background: #373737; color: white; border: #373737"
            (click)="toResetPassword()">
      Change password
    </button>
  </div>
  <p-toast></p-toast>
</div>
