<div class="container">
  <h2>My Watchlist</h2>

  <div *ngIf="watchlist.length == 0">
    <br>
    <p>Your Watchlist is empty</p>
  </div>

  <div *ngIf="watchlist.length !== 0">
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div *ngFor="let movie of watchlist">
        <div class="card h-70 eachMovieCard">
          <div class="card-header  overflow-auto eachMovie">
            {{movie.title}}
          </div>
          <img src="{{movie.poster_path}}" class="card-img eachMovie">
          <div class="card-body eachMovie">
            <p-scrollPanel [style]="{width: '100%', height: '60px'}" styleClass="custombar" class="overview">
              <p>{{movie.overview}}</p>
            </p-scrollPanel>
          </div>
          <div class="card-footer h-3rem eachMovie">
            <div class="buttons" >
                <span class="rating eachMovie">
                  <i class="pi pi-star"></i>
                  {{movie.vote_average.toFixed(1)}}
                </span>
              <p-button icon="pi pi-minus-circle" styleClass="p-button-rounded p-button-text p-button-sm" title="Remove from Watchlist"
                        (click)="deleteFromWatchlist(userInfo.userid, movie.movieid)"></p-button>
              <p-button icon="pi pi-info-circle" styleClass="p-button-rounded p-button-text p-button-sm"
                        (click)="readMore(movie.movieid)" ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
